<div class="hero-section">
  <div class="left-section">

    <div class="shape">

    </div>

  </div>

  <div class="right-section">
    <div class="content-box">
      <div class="top-logo">
        <img src="/assets/hero/icons/Logo icon.svg" alt="Logo">
        <p>{{ 'HERO.LOGO_NAME' | translate }}<br><span>{{ 'HERO.LOGO_ROLE' | translate }}</span></p>
      </div>

      <h1>Adrian Preis</h1>

      <h2>{{ 'HERO.ROLE' | translate }}</h2>

      <div class="social-icons">
        <a href="#"><img src="/assets/hero/icons/Email button.svg" alt="Mail"></a>
        <a href="#"><img src="/assets/hero/icons/Github button.svg" alt="GitHub"></a>
        <a href="#"><img src="/assets/hero/icons/Linkedin button.svg" alt="LinkedIn"></a>
      </div>

      <div class="scroll-icon">
        <img src="/assets/hero/icons/Arrow down.svg" alt="Scroll Down">
      </div>
    </div>
  </div>
</div>