@use 'mixins' as *;
@use 'font-sizes' as *;
@use 'typography' as *;
@use 'landscape/landscape';


@media (min-width: 1920px) {
  #hero {
    height: 900px !important;
    position: relative;
  }

  .social-icons {
    top: 2rem;
    right: 10rem;
  }

  .shape-wrapper {
    padding: auto;
  }
}

@media screen and (max-width: 1179px) and (hover: hover) and (pointer: fine) {
  #hero {
    height: calc(100dvh - 120px) !important;
  }
}


@media (min-height: 1081px) {
  #hero {
    height: 900px;
    overflow: hidden;
  }
}


.hero-section {
  display: flex;
  background-color: #262E34;
  height: 100vh !important;

  .left-section {
    flex: 1;
    height: 100%;
    background-color: #262e34;
    display: flex;
    justify-content: center;
    position: relative;

    .shape-wrapper {
      display: flex;
      justify-content: center;
      align-items: end;
      height: 100%;
      width: 100%;
      flex-shrink: 1;
      position: absolute;
      bottom: 0;
      padding: 0 8px;
      box-sizing: border-box;
    }

    .shape {
      @include cyan-main-bg;
      aspect-ratio: 1 / 1;
      height: revert-layer;
      width: 100%;
      max-height: 720px !important;
      max-width: 680px !important;
      border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
      bottom: 0;
      display: flex;
      justify-content: center;
    }

    .shape img {
      width: 100%;
      height: 100%;
      max-height: 838px !important;
      object-fit: contain;
      object-position: bottom;
      position: absolute;
      z-index: 2;
      bottom: 0;
    }
  }

}

.right-section {
  flex: 1;
  background-color: #262e34;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .social-icons {
    position: absolute;
    top: clamp(1rem, 2vw, 2.5rem);
    right: clamp(1rem, 3vw, 4rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;

    a svg {
      @include cyan-main;
      height: clamp(30px, 3.5vw, 38px);
      width: auto;
      transition: color 0.3s ease;
      cursor: pointer !important;
    }

    a:hover svg {
      stroke: none;
      color: white;


    }
  }


  .content-box {
    @include flex-column-center;
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;

    .top-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 2rem;

      img {
        width: clamp(48px, 5.2vw, 80px);
      }

      p {
        font-size: clamp(20px, 2.2vw, 24px);
        margin: 0;

        span {
          font-size: clamp(18px, 2.2vw, 22px);
          color: #ccc;
        }
      }
    }

    h1 {
      font-family: 'Anta', sans-serif;
      font-size: clamp(2.5rem, 6vw, 6rem);

    }

    h2 {
      font-family: 'Josefine_Sans', sans-serif;
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      color: #ccc;
      margin: 0;
    }

    .scroll-icon {
      margin-top: clamp(30px, 10vw, 146px);
      z-index: 2;

      .scroll-svg {
        width: clamp(38px, 5vw, 48px);
        fill: none;
        @include cyan-main;
        cursor: pointer;
        z-index: 2;


      }

      .scroll-border:hover {
        fill: rgba(137, 188, 217, 0.2);
      }
    }
  }

}

.hero-mobile {
  @include gray-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.2rem;


  .top-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 28px;
    left: 28px;

    img {
      width: 48px;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.9rem;

      span {
        font-size: 0.75rem;
        color: #ccc;
      }
    }
  }

  .shape-wrapper {
    width: clamp(240px, 80vw, 360px);
    display: flex;
    margin-top: 120px;
    justify-content: center;

    .shape {
      width: 100%;
      overflow: hidden;
      border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
      @include cyan-main-bg;
      display: flex;
      justify-content: center;
      align-items: end;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  h1 {
    font-size: clamp(2.6rem, 6vw, 2.2rem);
    margin: 0.5rem 0 0;
    font-family: 'Anta', sans-serif;
  }

  h2 {
    font-size: clamp(1.2rem, 4.5vw, 1.6rem);
    color: #ccc;
    font-family: 'Josefine_Sans', sans-serif;
    margin: 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    a img {
      width: 28px;
    }
  }

  .scroll-icon svg {
    margin-top: 2rem;
    width: clamp(38px, 5vw, 48px);
    fill: none;
    color: #89BCD9;
    cursor: pointer;

    .scroll-icon svg {
      width: auto;
      animation: bounceDown 1.8s infinite ease-in-out;

    }

  }

  .scroll-icon :hover {
    fill: rgba(137, 188, 217, 0.2);


  }
}

@keyframes bounceDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }
}

.mobile-menu {
  margin-top: 122px;

}

.blob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include cyan-main-bg;
  padding: 2rem;
  border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
  height: clamp(350px, 70vw, 376px);
  width: clamp(290px, 80vw, 353px);
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 1.5rem;
  }

  .language-switch {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.375rem;
  cursor: pointer !important;

  &:hover {
    text-decoration: none !important;
    color: #262E34;
  }

}

// /* Media Query – Mobile */
// @media (max-width: 768px) {
//   .navbar {
//     display: none;
//   }

//   .nav-links,
//   .language-switch {
//     display: none;
//   }

//   .hamburger {
//     display: flex !important;
//   }


// }

.language-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.2rem;

  .switch-indicator {
    position: absolute;
    top: 0px;
    left: 4px;
    width: 48px;
    height: 34px;
    background: url('/assets/navbar/icons/Toggle-Switch.svg') no-repeat center;
    background-size: cover;
    border-radius: 30px;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .language-labels {
    display: flex;
    gap: 1rem;
    z-index: 2;

    .blob .language-labels a {
      color: #262E34 !important;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.3s;

      &.active {
        color: red !important;

      }
    }
  }
}

.language-switch.en-active .switch-indicator {
  left: calc(50% + 5px);
}