@use 'mixins' as *;
@use 'font-sizes' as *;
@use 'typography' as *;
@use 'landscape/landscape';


.why-me {
  @include gray-bg;
  position: relative;
  text-align: center;
  padding: 80px 20px;
  color: #ffffff;

  .section-title {
    font-family: 'Anta', sans-serif;
    font-size: clamp(2.6rem, 4vw, 3.75rem);
    @include cyan-main;
    margin-bottom: 80px;
  }

  .why-me-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

    .location {
      display: flex;
      align-items: center;
      font-size: clamp(1.0rem, 2.5vw, 1.875rem);

      img {
        margin-right: 0.5rem;
        width: clamp(38px, 5vw, 58px);
        height: clamp(38px, 5vw, 58px);
      }

      .highlight {
        font-weight: 700;
        @include cyan-main;
      }

    }

    .remote {
      display: flex;
      align-items: center;
      font-size: clamp(1.0rem, 2.5vw, 1.875rem);

      img {
        margin-right: 0.5rem;
        width: clamp(38px, 5vw, 58px);
        height: clamp(38px, 5vw, 58px);
      }

      .highlight {
        font-weight: 700;
        @include cyan-main;
      }
    }


    .text {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: left;
      font-size: clamp(1rem, 1.8vw, 1.125rem);
      font-family: Josefine_Sans, sans-serif;

      .talk-btn {
        background: transparent;
        font-family: Josefine_Sans, sans-serif;
        max-height: 48px;
        height: 100%;
        color: #75c1e2;
        text-decoration: none;
        border: 2px solid #75c1e2;
        padding: 0.5rem 2rem;
        border-radius: 999px;
        cursor: pointer;
        font-size: clamp(0.875rem, 2vw, 1.125rem);
        transition: 0.3s;

        &:hover {
          background-color: #75c1e2;
          color: #0f1923;
        }
      }
    }
  }

  .hover-container {
    position: relative;
    width: 530px;
    height: 48px;
    background-color: black;



    .info-box {
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;
    }

    .location {
      animation: showLocation 8s infinite;
    }

    .remote {
      animation: showRemote 8s infinite;
      width: auto;
    }

    .typewriter {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid white !important;
      width: 0;
      animation: typingLoop 4s steps(30, end) infinite, blink 0.75s step-end infinite;
    }
  }


  @keyframes showLocation {

    0%,
    45% {
      opacity: 1;
      pointer-events: auto;
    }

    50%,
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }

  @keyframes showRemote {

    0%,
    45% {
      opacity: 0;
      pointer-events: none;
    }

    50%,
    95% {
      opacity: 1;
      pointer-events: auto;
    }

    100% {
      opacity: 0;
      pointer-events: none;
    }
  }


  @keyframes typingLoop {
    0% {
      width: 0;
    }

    40% {
      width: 100%;
    }

    60% {
      width: 100%;
    }

    100% {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

}