<section id="whyme" class="why-me" data-aos="fade-in">
  <h2 id="whyme-heading" class="section-title">{{ 'WHYME.TITLE' | translate }}</h2>

  <div class="why-me-content">
    <div class="hover-container">
      <div class="info-box location">
        <img src="/assets/why me/icons/icon.svg" alt="Location Icon" />
        <p class="typewriter">
          <span class="highlight">{{ 'WHYME.IAM' | translate }}</span>{{ 'WHYME.LOCATION' | translate }}
        </p>
      </div>

      <div class="info-box remote">
        <img src="assets/why me/icons/Remote.svg" alt="Remote Icon" />
        <p class="typewriter">
          <span class="highlight">{{ 'WHYME.IAM' | translate }}</span>{{ 'WHYME.REMOTE' | translate }}
        </p>
      </div>
    </div>





    <div class="text">
      <p [innerHTML]="'WHYME.TEXT' | translate"></p>
      <button (click)="scrollToContact()" class="talk-btn">
        {{ 'WHYME.BUTTON' | translate }}
      </button>

    </div>
  </div>
</section>