<section class="why-me">
  <h2 class="section-title">{{ 'WHYME.TITLE' | translate }}</h2>

  <div class="why-me-content">
    <div class="location">
      <img src="/assets/why me/icons/icon.svg" alt="Location Icon" />
      <p>
        <span class="highlight">{{ 'WHYME.IAM' | translate }}</span>{{ 'WHYME.LOCATION' | translate }}
      </p>


    </div>


    <div class="remote">
      <img src="/assets/why me/icons/Remote.svg" alt="Remote Icon" />
      <p>
        <span class="highlight">{{ 'WHYME.IAM' | translate }}</span>{{ 'WHYME.REMOTE' | translate }}
      </p>
    </div>




    <div class="text">
      <p [innerHTML]="'WHYME.TEXT' | translate"></p>
      <button class="talk-btn">{{ 'WHYME.BUTTON' | translate }}</button>
    </div>
  </div>
</section>