<section class="why-me">
    <h2 class="section-title">Why me</h2>
  
    <div class="why-me-content">
      <div class="location">
        <img src="/assets/why me/icons/icon.svg" alt="Location Icon" />
        <p><strong>I am</strong> located in Munich.</p>
      </div>
  
      <div class="text">
        <p>
          Why are you passionate about coding?<br />
          You can include some key traits like: analytical thinking, creativity, persistence and collaboration.
          A problem-solving mindset is always nice to have.
        </p>
        <button class="talk-btn">Let’s talk</button>
      </div>
    </div>
  </section>
  
