<section class="legal-notice">
    <h2>{{ 'LEGAL.TITLE' | translate }}</h2>
    <button class="close-btn" (click)="close()">← Back</button>
    <div class="notice-content">
        <p><strong>{{ 'LEGAL.NAME' | translate }}:</strong> Adrian Preis</p>
        <p><strong>{{ 'LEGAL.ADDRESS' | translate }}:</strong> Gartenstraße 9, 66885 Bedesbach, Rheinland-Pfalz</p>
        <p><strong>{{ 'LEGAL.CONTACT' | translate }}:</strong> adrianpreis86&#64;gmail.com</p>
        <p><strong>{{ 'LEGAL.DISCLAIMER' | translate }}</strong></p>
        <p>{{ 'LEGAL.TEXT' | translate }}</p>
    </div>
</section>