<nav class="navbar">
  <div class="logo">
    <img src="/assets/navbar/icons/Logo icon (1).svg" alt="Logo" />
  </div>

  <ul class="nav-links">
    <li><a href="#whyme">{{ 'NAV.WHYME' | translate }}</a></li>
    <li><a href="#skills">{{ 'NAV.SKILLS' | translate }}</a></li>
    <li><a href="#projects">{{ 'NAV.PROJECTS' | translate }}</a></li>
    <li><a href="#contact">{{ 'NAV.CONTACT' | translate }}</a></li>
  </ul>

  <div class="language-switch" [ngClass]="{ 'en-active': currentLanguage === 'en' }">
    <div class="switch-indicator"></div>
    <div class="language-labels">
      <a (click)="switchLanguage('de')">DE</a>
      <a (click)="switchLanguage('en')">EN</a>
    </div>
  </div>
</nav>

<button class="hamburger" [class.open]="isMenuOpen" (click)="toggleMobileMenu()" aria-label="Toggle menu">
  <span></span>
  <span></span>
  <span></span>
</button>

<div class="mobile-menu" [class.hidden]="!isMenuOpen">
  <div class="blob">
    <ul>
      <li><a href="#whyme">{{ 'NAV.WHYME' | translate }}</a></li>
      <li><a href="#skills">{{ 'NAV.SKILLS' | translate }}</a></li>
      <li><a href="#projects">{{ 'NAV.PROJECTS' | translate }}</a></li>
      <li><a href="#contact">{{ 'NAV.CONTACT' | translate }}</a></li>
      <div class="language-switch" [ngClass]="{ 'en-active': currentLanguage === 'en' }">
        <div class="switch-indicator"></div>
        <div class="language-labels">
          <a (click)="switchLanguage('de')">DE</a>
          <a (click)="switchLanguage('en')">EN</a>
        </div>
      </div>
    </ul>
  </div>
</div>