@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin gray-bg {
  background-color: #262E34;
}

@mixin cyan-main {
  color: #89BCD9;

}

@mixin cyan-main-bg {
  background-color: #89BCD9;

}

@mixin font-color-gray {
  color: #262E34;
}

section {
  @include gray-bg;
}

.projects,
p {
  // padding: 80px 20px;
  color: white;
  font-family: Josefine_Sans, sans-serif;
  font-size: clamp(1rem, 1.8vw, 1.125rem);


  .section-title {
    font-family: 'Anta', sans-serif;
    font-size: clamp(2.6rem, 4vw, 3.75rem);
    @include cyan-main;
    text-align: center;
    margin-bottom: 3rem;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 1;

    span {
      cursor: pointer;
      text-align: center;
      font-family: Josefine_Sans, sans-serif;
      font-size: clamp(1.125rem, 2.5vw, 1.875rem);
      position: relative;
      @include cyan-main;
      z-index: 2;

      &.active {
        font-weight: bold;

        z-index: 2;

        &::after {
          content: '';
          position: absolute;
          bottom: 0px;
          height: calc(100% + 20px);
          width: calc(100% + 10px);
          left: -5px;
          right: -5px;
          background-color: #2d383f;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          z-index: -1;
        }
      }
    }
  }

  .project-details {
    height: 548px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2d383f;
    gap: 3rem;
    justify-content: center;

    .text {
      max-width: 500px;

      .bullet {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.5rem;

        .dot {
          width: 12px;
          height: 12px;
          border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
          @include cyan-main-bg;
          margin-top: 6px;
        }

        .content {
          h4 {
            font-weight: bold;
            font-family: Josefine_Sans, sans-serif;
            font-size: clamp(1.125rem, 2.3vw, 1.75rem);
            ;
            margin-bottom: 0.3rem;
          }

          span {
            font-weight: normal;
            font-size: clamp(1rem, 1.8vw, 1.125rem);
            color: #aaa;
          }
        }
      }

      .buttons {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;

        .btn {
          background: transparent;
          max-height: 48px;
          height: 100%;
          @include cyan-main;
          text-decoration: none;
          border: 2px solid #75c1e2;
          padding: 0.5rem 2rem;
          border-radius: 999px;
          cursor: pointer;
          font-size: clamp(0.875rem, 2vw, 1.125rem);
          transition: 0.3s;

          &:hover,
          &.secondary:hover {
            background: #75c1e2;
            color: #000;
            border: 2px solid #75c1e2;
          }

          &.secondary {
            background: transparent;
            max-height: 48px;
            height: 100%;
            color: #75c1e2;
            text-decoration: none;
            border: 2px solid #75c1e2;
            padding: 0.5rem 2rem;
            border-radius: 999px;
            cursor: pointer;
            font-size: clamp(0.875rem, 2vw, 1.125rem);
            transition: 0.3s;
          }


        }
      }
    }

    .preview {
      text-align: center;

      .techs {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;

        img {
          height: 30px !important;
        }
      }

      .screenshot {
        width: clamp(269px, 60vw, 453px);
        height: clamp(167px, 40vh, 312px);
        border-radius: 30px;
      }
    }
  }


}

@media (max-width: 768px) {
  :host {
    display: block;
    height: 100vh;
    scroll-snap-align: start;
  }

  .projects.mobile {
    padding: 40px 0px;
    border-radius: 0px;

    .section-title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    .mobile-tabs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 0px;

      span {
        font-size: 1.1rem;
        @include cyan-main;
        padding: 0.3rem 0.8rem;
        cursor: pointer;
        border-radius: 8px;

        &.active {
          font-weight: bold;
          background-color: #2d383f;

        }
      }
    }

    .project-details-mobile {
      background-color: #2d383f;
      border-radius: 20px;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;

      .mobile-title {
        font-size: 1.6rem;
        @include cyan-main;
        text-align: center;
      }

      .technologies,
      .duration {
        text-align: center;
        font-size: 1rem;
        color: #ccc;

        strong {
          color: #ccc;
        }
      }

      .hl-cont {
        display: contents;
      }

      .screenshot {
        width: clamp(269px, 60vw, 453px);
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;


      }

      .bullet-mobile {
        display: flex;
        gap: 1rem;
        align-items: flex-start;

        .dot {
          width: 12px;
          height: 12px;
          border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
          background: #75c1e2;
          margin-top: 6px;
          flex-shrink: 0;
        }

        .content {
          h4 {
            font-size: 1.1rem;
            margin-bottom: 0.3rem;
            font-weight: bold;
            color: #fff;
          }

          p {
            font-size: 0.95rem;
            color: #ccc;
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;

        .btn {
          background: transparent;
          max-height: 48px;
          height: 100%;
          @include cyan-main;
          text-decoration: none;
          border: 2px solid #75c1e2;
          padding: 0.5rem 2rem;
          border-radius: 999px;
          cursor: pointer;
          font-size: clamp(0.875rem, 2vw, 1.125rem);
          transition: 0.3s;

          &:hover,
          &.secondary:hover {
            background: #75c1e2;
            color: #000;
            border: 2px solid #75c1e2;
          }

          &.secondary {
            background: transparent;
            max-height: 48px;
            height: 100%;
            color: #75c1e2;
            text-decoration: none;
            border: 2px solid #75c1e2;
            padding: 0.5rem 2rem;
            border-radius: 999px;
            cursor: pointer;
            font-size: clamp(0.875rem, 2vw, 1.125rem);
            transition: 0.3s;
          }


        }
      }
    }
  }
}