@use '../mixins' as *;
@use '../../styles/font-sizes' as *;
@use '../../styles/typography' as *;





@media screen and (max-width: 1279px) and (max-height: 500px) and (orientation: landscape) {
    #hero {
        height: 100dvh !important;
    }

    .shape-wrapper {
        padding: 0 clamp(16px, 5vw, 43px) !important;
    }

    .social-icons {
        display: none !important;
    }

    .scroll-icon {
        margin-top: clamp(30px, 4vw, 146px) !important;

    }

    .scroll-svg {
        width: clamp(38px, 3vw, 48px) !important;
    }

    .top-logo {
        margin-bottom: 1rem !important;
    }
}


@media screen and (max-width: 680px) and (orientation: landscape) {
    .navbar {
        padding: 15px 12px !important;
    }

    .nav-links a {
        font-size: 16px !important;
    }
}



@media screen and (min-width: 662px) and (max-width: 1024px) and (orientation: portrait) and (min-height: 1000px) {
    #hero {
        height: clamp(500px, 65vh, 700px) !important;
    }
}





@media screen and (min-height: 2000px) and (max-width: 1600px) and (orientation: portrait) {
    #hero {
        height: clamp(600px, 90dvh, 960px) !important;

    }



    @media screen and (min-height: 1560px) and (max-height: 1920px) and (orientation: portrait) {
        #hero {
            height: clamp(600px, 92dvh, 1000px) !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .shape-wrapper {
            padding-top: clamp(40px, 6vh, 100px);
        }

        .scroll-icon {
            margin-top: clamp(30px, 3vh, 80px);
        }
    }

}