@use 'mixins' as *;
@use 'font-sizes' as *;
@use 'typography' as *;
@use 'landscape/landscape';



// @mixin flex-column-center {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// @mixin gray-bg {
//   background-color: #262E34;
// }

// @mixin cyan-main {
//   color: #89BCD9;

// }

// @mixin cyan-main-bg {
//   background-color: #89BCD9;

// }

// @mixin font-color-gray {
//   color: #262E34;
// }

.testimonials {
  padding: 80px 20px;
  text-align: center;
  @include gray-bg;

  .section-title {
    font-family: 'Anta', sans-serif;
    font-size: clamp(1.125rem, 2.5vw, 1.875rem);
    @include cyan-main;
    margin-bottom: 3rem;
  }

  .testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;
      width: 400px;
      background-color: #2d383f;
      padding: 2rem;
      border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
      color: white;

      h3 {
        font-family: Josefine_Sans, sans-serif;
        font-size: clamp(1.375rem, 2.2vw, 1.625rem);
        font-weight: 600;
        margin-bottom: 1.625rem;
      }

      .project {
        color: #ccc;
        margin-bottom: 1rem;

        span {
          @include cyan-main;
        }
      }

      blockquote,
      p {
        font-family: 'Josefine_Sans', sans-serif;
        font-size: clamp(1rem, 1.8vw, 1.125rem);
        margin-bottom: 1rem;
        line-height: 1.6;
      }


      a {
        @include cyan-main;
        text-decoration: underline;
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 768px) {

  .testimonials {
    padding: 80px 0px !important;
  }

  .testimonial-cards {
    overflow-x: auto !important;
    justify-content: unset !important;
    flex-wrap: nowrap !important;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 50%;
    -webkit-overflow-scrolling: touch;
    padding-block: 2rem;

  }

  .card {
    scroll-snap-align: center;
    flex-shrink: 0;
    height: 260px !important;
    width: 300px !important;
  }


  .testimonial-cards::-webkit-scrollbar {
    display: none !important;

  }
}