@use 'mixins' as *;
@use 'font-sizes' as *;
@use 'typography' as *;
@use 'landscape/landscape';


.testimonials {
  padding: 80px 20px;
  text-align: center;
  @include gray-bg;

  h2 {
    padding: 20px;
  }

  .section-title {
    font-family: 'Anta', sans-serif;
    font-size: clamp(1.125rem, 2.5vw, 1.875rem);
    @include cyan-main;
    margin-bottom: 80px;
  }

  .testimonial-cards {
    display: flex;
    flex-wrap: unset;
    gap: 2rem;
    justify-content: center;
    padding-inline: 10%;

    .card {
      aspect-ratio: 1 / 1;
      min-width: 280px;
      max-width: 400px;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: #2d383f;
      padding: 2rem;
      border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
      color: white;
      text-align: center;



      h3 {
        font-family: Josefine_Sans, sans-serif;
        font-size: clamp(1.375rem, 2.2vw, 1.625rem);
        font-weight: 600;
        margin-bottom: 1.625rem;
      }

      .project {
        color: #ccc;
        margin-bottom: 1rem;

        span {
          @include cyan-main;
        }
      }

      blockquote,
      p {
        font-family: 'Josefine_Sans', sans-serif;
        font-size: clamp(1rem, 1.2vw, 1.125rem);
        margin-bottom: 1rem;
        line-height: 1.4;
      }


      a {
        @include cyan-main;
        text-decoration: underline;
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 768px) {

  .testimonials {
    padding: 0px 0px !important;
  }

  .testimonial-cards {
    overflow-x: auto !important;
    justify-content: unset !important;
    flex-wrap: nowrap !important;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 50%;
    -webkit-overflow-scrolling: touch;
    padding-block: 2rem;

  }

  .card {
    scroll-snap-align: center;
    flex-shrink: 0;
    height: 260px !important;
    width: 300px !important;
  }


  .testimonial-cards::-webkit-scrollbar {
    display: none !important;

  }

  .section-title {
    margin-top: 80px !important;
    margin-bottom: 40px !important;
  }
}