<ng-container *ngIf="isMobile">
  <ng-container *ngTemplateOutlet="mobileTemplate"></ng-container>
</ng-container>


<ng-container *ngIf="!isMobile">
  <section id="skills" class="skills" data-aos="fade-in">
    <h2 class="section-title">{{ 'SKILLS.TITLE' | translate }}</h2>

    <div class="skills-wrapper">
      <div class="skills-icons">
        <div class="skill" *ngFor="let skill of mainSkills">
          <img [src]="skill.icon" [alt]="skill.name" />
        </div>
      </div>

      <div class="currently-learning">
        <p>{{ 'SKILLS.CURRENTLY_LEARNING' | translate }}</p>

        <div class="learning-icons">
          <div class="skill" *ngFor="let tech of learning">
            <img [src]="tech.icon" [alt]="tech.name" />
          </div>
        </div>

        <p class="learning-text">
          {{ 'SKILLS.LEARNING_TEXT' | translate }}
        </p>
      </div>
    </div>
  </section>
</ng-container>


<ng-template #mobileTemplate>
  <section id="skills" class="skills mobile" data-aos="fade-in">
    <h2 class="section-title">{{ 'SKILLS.TITLE' | translate }}</h2>

    <div class="skills-wrapper">
      <div class="skills-icons">
        <div class="skill" *ngFor="let skill of mainSkills">
          <img [src]="skill.icon" [alt]="skill.name" />
        </div>
      </div>
      <div class="container">
        <p>{{ 'SKILLS.CURRENTLY_LEARNING' | translate }}</p>
        <div class="p-icon-container">
          <p class="learning-text-mobile">
            {{ 'SKILLS.LEARNING_TEXT' | translate }}
          </p>
          <div class="currently-learning-mobile">
            <!-- Hier kannst du dein eigenes Mobile-HTML laut Figma einfügen -->


            <div class="learning-icons">
              <div class="skill" *ngFor="let tech of learning">
                <img [src]="tech.icon" [alt]="tech.name" />
              </div>
            </div>


          </div>

        </div>
        <button class="talk-btn" (click)="scrollToContact()">
          {{ 'WHYME.BUTTON' | translate }}
        </button>

      </div>
    </div>
  </section>
</ng-template>