


/* === Font-Josefine Sans (400) === */

@font-face {
  font-family: 'Josefine_Sans';
  src: url('/assets/fonts/Josefine_Sans/JosefinSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/Josefine_Sans/JosefinSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}


/* === Anta (400) === */

@font-face {
  font-family: 'Anta';
  src: url('/assets/fonts/Anta/Anta-Regular.woff2') format('woff2'),
    url('/assets/fonts/Anta/Anta-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* === Figtree (300-800) === */

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/figtree/figtree-v7-latin-300.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/figtree/figtree-v7-latin-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/figtree/figtree-v7-latin-500.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/figtree/figtree-v7-latin-600.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/figtree/figtree-v7-latin-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/figtree/figtree-v7-latin-800.woff2') format('woff2');
  font-display: swap;
}


/* === Base-Styles === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  
  margin: 0;
  padding: 0;
  font-family: 'Josefine_Sans', sans-serif;
  background-color: #0f1923;
  color: white;
  scroll-behavior: smooth;
}