<section id="contact" class="contact">
  <h2 class="section-title">{{ 'CONTACT.TITLE' | translate }}</h2>
  <div class="container">
    <div class="contact-top">
      <div class="contact-info">
        <p class="intro">{{ 'CONTACT.INFO' | translate }}</p>
      </div>
      <div class="contact-info-personal">
        <p><img src="/assets/contact/icons/Mail.svg" alt="mail icon" /> E-mail:
          <strong>adrianpreis86&#64;gmail.com</strong>
        </p>
        <p><img src="/assets/contact/icons/Phone.svg" alt="phone icon" /> Tel: 0179 239 5976 </p>
      </div>
    </div>



    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <input type="text" formControlName="honeypot" class="hidden-honeypot" autocomplete="off" />

      <div class="row">
        <div class="field-top">
          <input type="text" formControlName="name" maxlength="120" [placeholder]="'CONTACT.NAME' | translate" />
          <div class="error"
            *ngIf="(submitted || contactForm.get('name')?.touched) && contactForm.get('name')?.invalid">
            {{ 'CONTACT.ERROR_NAME' | translate }}
          </div>
        </div>

        <div class="field-top">
          <input type="email" formControlName="email" maxlength="254" [placeholder]="'CONTACT.EMAIL' | translate" />
          <div class="error"
            *ngIf="(submitted || contactForm.get('email')?.touched) && contactForm.get('email')?.errors?.['required']">
            {{ 'CONTACT.ERROR_EMAIL_REQUIRED' | translate }}
          </div>
          <div class="error"
            *ngIf="(submitted || contactForm.get('email')?.touched) && contactForm.get('email')?.errors?.['email']">
            {{ 'CONTACT.ERROR_EMAIL_INVALID' | translate }}
          </div>
        </div>
      </div>

      <div class="field textarea-wrapper">
        <textarea formControlName="message" rows="5" maxlength="500" (input)="updateRemainingChars()"
          [placeholder]="'CONTACT.MESSAGE' | translate"></textarea>

        <div class="char-counter-inside">{{ remainingChars }} / 500</div>

        <div class="error"
          *ngIf="(submitted || contactForm.get('message')?.touched) && contactForm.get('message')?.invalid">
          {{ 'CONTACT.ERROR_MESSAGE' | translate }}
        </div>
      </div>


      <label class="custom-checkbox" [ngClass]="{
        'invalid-checkbox': contactForm.get('privacy')?.invalid && submitted
      }">
        <input type="checkbox" formControlName="privacy" />
        <span class="checkbox-icon"></span>
        <span class="checkbox-policy-text">
          {{ 'CONTACT.POLICY_PART1' | translate }}
          <a [routerLink]="['/legal-notice']" class="policy-link">
            {{ 'CONTACT.POLICY_LINK' | translate }}
          </a>
          {{ 'CONTACT.POLICY_PART2' | translate }}
        </span>


      </label>

      <div id="error-policy" class="error"
        *ngIf="(submitted || contactForm.get('privacy')?.touched) && contactForm.get('privacy')?.invalid">
        {{ 'CONTACT.ERROR_POLICY' | translate }}
      </div>
      <button (click)="handleSubmitClick()" [class.valid]="contactForm.valid"
        [attr.title]="!contactForm.valid ? 'Bitte alle Pflichtfelder ausfüllen' : null">
        {{ 'CONTACT.SEND' | translate }}
      </button>


    </form>
    <div class="confirmation-overlay" *ngIf="showConfirmation">
      <div class="confirmation-box">
        <p>{{ 'CONTACT.CONFIRMATION' | translate }}</p>
        <button (click)="closeConfirmation()">{{ 'CONTACT.CLOSE' | translate }}</button>
      </div>
    </div>
  </div>
  <a href="#hero">
    <svg class="scroll-svg" width="38" height="89" viewBox="0 0 38 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17.5858 24.9366L10.6735 31.2396C10.2918 31.5877 9.7077 31.5877 9.32595 31.2396L8.81034 30.7694C8.3754 30.3728 8.3754 29.6882 8.81034 29.2916L18.3262 20.6144C18.708 20.2663 19.292 20.2663 19.6738 20.6144L29.1897 29.2916C29.6246 29.6882 29.6246 30.3728 29.1897 30.7694L28.6741 31.2396C28.2923 31.5877 27.7082 31.5877 27.3265 31.2396L20.4142 24.9366L20.4142 69C20.4142 69.5523 19.9665 70 19.4142 70H18.5858C18.0335 70 17.5858 69.5523 17.5858 69L17.5858 24.9366Z"
        fill="currentColor" />
      <rect x="0.5" y="0.5" width="37" height="88" rx="18.5" stroke="currentcolor" />
    </svg>
  </a>
</section>